<h1> User Profile </h1>

<% if(user.id == profile_user.id){ %>

    <form action="/users/update/<%=profile_user.id %>" method="post">

        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name%>">
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email%>">
        <button type="submit">Update</button>

    </form>

<%} else{%>

    <p>Name : <%= profile_user.name%></p>
    <p>Email : <%= profile_user.email%></p>

<% } %>

